@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: DM sans, sans-serif;
    font-weight: 300;

}

h1,
h2 {
    color: black;
    font-family: DM Serif Display, serif;

}

hr {
    display: block;
    margin: auto;
    border: 1.5px solid black;
    width: 70%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu-holder {
    gap: 4em;
    background-color: #DDC3A5;
}

.menu-holder a {
    text-decoration: none;
    color: black;
}

.menu-holder a h1,
.menu-holder a h2 {
    padding-left: 12px;
    padding-right: 12px;
}

.hero-image {
    background-image: url('https://images.pexels.com/photos/951531/pexels-photo-951531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}

.hero-image-text {
    margin-top: 200px;
    font-size: x-large;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 80px;
}

.about-us {
    background-color: #E0A96D;
}

.about-us-text {
    width: 50%;
}

.about-us-image {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5vh;
    width: 30%;
    flex: 30%;
    margin-right: 3vh;
}

.about-us-image img {
    width: 300px;
    height: 600px;
}

.about-text {
    width: 70%;
    margin-left: 15%;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.contact-us {
    height: 150px;
    background-color: #201E20;
    color: white;
}

.contact-text {
    width: 70%;
    margin-left: 15%;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.contact-us {
    color: white
}

.contact-us hr {
    display: block;
    margin: auto;
    border: 1.5px solid white;
    width: 70%;
}

.contact-us h2 {
    color: white
}

.footer-content {
    background-color: #201E20;
    width: 100%;
    height: 60px;
}

.fa-brands {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 23vw;
}

#signup-h2 {
    margin-left: 2vh;
    margin-right: 2vh;
}

#signup-body {
    background-color: burlywood;
    min-height: 100vh;
}

.signupform {
    background-color: #E0A96D;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 10px;
    width: 350px;
    text-align: center;
    margin-top: 10vh;
    margin-right: 40vw;
    margin-left: 40vw;
}

.footer-signup {
    background-color: #201E20;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: fixed;
}

.input-style {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-top: 10px;

}

.submit-button {
    background-color: antiquewhite;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    margin-top: 10px;
}

/* Small screens and laptops */
@media (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
    }

    .fa-brands {
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 14vw;
    }

    .signupform {
        background-color: #E0A96D;
        border-radius: 20px;
        box-sizing: border-box;
        height: 500px;
        padding: 10px;
        width: 350px;
        text-align: center;
        margin-top: 12vh;
        margin-right: 32vw;
        margin-left: 32vw;
    }

    .about-text {
        width: 80%;
        margin-left: 57%;
        display: block;
        text-align: center;
        padding-top: 30px;
    }

    .about-us-image {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 18vh;
        width: 30%;
        flex: 30%;
        margin-right: 18vh;
    }

    .contact-text {
        width: 70%;
        margin-left: 15%;
        display: block;
        text-align: center;
        padding-top: 30px;
    }


}

/* iPads and tablets */
@media (max-width: 767px) {
    .flex-container {
        flex-direction: column;
    }

    .menu-holder {
        gap: 1em;
    }

    .hero-image {
        height: 300px;
    }

    .hero-image-text {
        margin-top: 180px;
    }

    .fa-brands {
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 14vw;
    }

    .signupform {
        background-color: #E0A96D;
        border-radius: 20px;
        box-sizing: border-box;
        height: 500px;
        padding: 10px;
        width: 350px;
        text-align: center;
        margin-top: 10vh;
        margin-right: 27vw;
        margin-left: 27vw;
    }

    .about-text {
        width: 80%;
        margin-left: 57%;
        display: block;
        text-align: center;
        padding-top: 30px;
    }

    .about-us-image {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 17vh;
        width: 30%;
        flex: 30%;
        margin-right: 17vh;
    }

    .contact-text {
        width: 70%;
        margin-left: 15%;
        display: block;
        text-align: center;
        padding-top: 30px;
    }


}

/* Mobile devices */
@media (max-width: 479px) {
    .flex-container {
        flex-direction: column;
    }

    .menu-holder {
        gap: 1em;
    }

    .hero-image {
        height: 300px;
    }

    .hero-image-text {
        margin-top: 180px;
    }

    .fa-brands {
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 12vw;
    }

    .signupform {
        background-color: #E0A96D;
        border-radius: 20px;
        box-sizing: border-box;
        height: 370px;
        padding: 10px;
        width: 350px;
        text-align: center;
        margin-top: 10vh;
        margin-right: 13vw;
        margin-left: 13vw;
    }

    .about-us-image {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 11vh;
        width: 30%;
        flex: 30%;
        margin-right: 11vh;
    }


}